body {
  background-color: brown;
}

#board {
  width: 800px;
  height: 800px;
  border: 1px solid white;
  background-color: black;
  position: absolute;
}

#ball {
  background-color: teal;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100px;
  left: 370px;
  top: 340px;
}

#leftPaddle {
  width: 20px;
  height: 150px;
  border: 1px solid white;
  background-color: white;
  position: relative;
  border-radius: 100px;
  left:1px;
  top: 260px;
}

#rightPaddle {
  width: 20px;
  height: 150px;
  border: 1px solid white;
  background-color: white;
  position: relative;
  border-radius: 100px;
  left: 777px;
  top: 110px;
}

#leftScore {
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: relative;
  top: -30px;
  left: 200px;
}

#rightScore {
  width: 80px;
  height: 80px;
  border: 1px solid white;
  position: relative;
  top: -110px;
  left: 500px;
}